.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // Diğer içeriklerin videonun üstünde olması için
    overflow: hidden;
  
    video {
      width: 100%;
      height: 100%;
      object-fit: cover; // Video'nun ekranı kırpmadan kaplaması için
    }
  }
  
  /* Sayfa içeriğinin videonun üstünde kalmasını sağlamak için */
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
  }
  
  .navbar {
    z-index: 1; /* Navbar'ın videonun üstünde görünmesi için */
  }
  