html {
   scroll-behavior: smooth;
}

body {
  background-color: rgb(101, 85, 85);
}

/* Navbar Stili */
.navbar{
  background-image: linear-gradient(to bottom, #4db6d3, #d79eb6);
  box-shadow: 0 4px 8px rgba(12, 11, 11, 0.4);
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
 
  
}

/* Carousel Stili */
.carousel {
  height: 400px; /* Yüksekliği artırdım */
  width: 100%;
  margin-top: 100px; /* Navbarın hemen altında görünmesi için */
  overflow: hidden; /* Taşmayı önlemek için */
  .carousel-indicators {
    display: none;
  }
}

.carousel-item img {
  width: 100%; /* Resmin genişliğini %100 yap */
  height: auto; /* Yüksekliği otomatik ayarlamak için */
  object-fit: scale-down; /* Resmin düzgün bir şekilde kesilmesini sağlar */
  max-height: 400px; /* Slider yüksekliği ile sınırlama */
  border-radius: 25px;

}

@media (min-width: 768px) {
  .carousel {
    margin-top: 100px;
    height: 500px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;  
    object-fit:contain;
    border-radius: 25px;
  }
}

/* Ürünler Grid Stili */
.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px; /* Sliderın hemen altında görünmesi için */
  min-height: calc(100vh - 400px);
  
}

@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(4, 2fr);
   
  }

}

/* Ürün Kartı Stili */
.product-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 300%;
  overflow: hidden;
  box-shadow: 0 40px 8px rgba(0, 100, 100, 0.2);
  text-align: center;
  background-color: rgb(241, 132, 183);
  border-radius: 25px;
  font-size: 2rem; /* Font boyutunu düzelttim */
  color: #fff;
  background-color: rgba(4, 219, 247, 0.5);
 
}
/* Yeni stil eklemeleri */
.product-card-overlay {
  position: fixed; /* Sayfanın tamamında görünmesi için */
  top: 10;
margin: 50px 10px 100px 10px;
  bottom: 150px;
 
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center; /* Dikey merkezleme */
  justify-content: center; /* Yatay merkezleme */
  background-color: rgba(0, 0, 0, 0.5); /* Karanlık bir arka plan */
  z-index: 100; /* Üstte görünmesi için */
}



.product-card img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 250px; /* Köşeleri biraz yuvarladım */
}

.product-card-body {
  padding: 15px;
}

/* Sepet İkonu Stili */
.cart-card {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 70px;
  height: 67vh;
  width: 300px;
  background-color: #e0a7ba !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding: 0px;
  border-radius: 10px;
  z-index: 1;

  .cart-item {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;

  }
}
.card-title {
  font-size: 2rem; /* Font boyutunu düzelttim */
  color: #fff;

}

.cart-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Sepetin diğer öğelerin üzerinde görünmesini sağlar */
 
}

.cart-icon {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(245, 243, 243, 0.2);
  background-color: #fff;
}

/* Sepet Kartı Stili */
.fixed-cart {
  position: fixed;
  top: 70px; /* Navbarın altına yerleştirmek için */
  right: 20px;
  width: 300px;
  z-index: 1050; /* Navbarın üstünde görünmesi için z-index değeri */
}

/* Bildirim Mesajı Stili */
.notification {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Footer Stili */
.footer {
  background-image: linear-gradient(to bottom, #d79eb6, #4db6d3);
  box-shadow: 0 4px 8px rgba(12, 11, 11, 0.4);
color: #fff;
padding: 10px;
width: 100%;
z-index: 999;

  text-align: center;
  margin-top: 100px;
  bottom: 0;
  
}





.footer-content p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
